version: "3.7"

services:
    web:
        build: ./task_manager_api
        command: python manage.py runserver 0.0.0.0:8000
        volumes:
            - ./task_manager_api/:/app/
        ports:
            - 8000:8000
        env_file:
            - ./.env
        depends_on:
            - db
    db:
        image: postgres:12.0-alpine
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        environment:
            - POSTGRES_USER=task_manager_api
            - POSTGRES_PASSWORD=task_manager_api
            - POSTGRES_DB=task_manager_api_dev
volumes:
    postgres_data:
