version: "3.7"

services:
    web:
        build:
            context: ./task_manager_api
            dockerfile: Dockerfile.prod
        image: 512550089270.dkr.ecr.eu-central-1.amazonaws.com/task-manager-api:web
        command: gunicorn task_manager_api.wsgi:application --bind 0.0.0.0:8000
        volumes:
            - static_volume:/home/app/web/static
            - media_volume:/home/app/web/media
        expose:
            - 8000
        env_file:
            - .env.prod
    nginx-proxy:
        container_name: nginx-proxy
        build: nginx
        image: 512550089270.dkr.ecr.eu-central-1.amazonaws.com/task-manager-api:nginx-proxy
        restart: always
        ports:
            - 443:443
            - 80:80
        volumes:
            - static_volume:/home/app/web/static
            - media_volume:/home/app/web/media
            - certs:/etc/nginx/certs
            - html:/usr/share/nginx/html
            - vhost:/etc/nginx/vhost.d
            - /var/run/docker.sock:/tmp/docker.sock:ro
        depends_on:
            - web
    nginx-proxy-letsencrypt:
        image: jrcs/letsencrypt-nginx-proxy-companion
        env_file:
            - .env.prod.proxy-companion
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - certs:/etc/nginx/certs
            - html:/usr/share/nginx/html
            - vhost:/etc/nginx/vhost.d
        depends_on:
            - nginx-proxy

volumes:
    static_volume:
    media_volume:
    certs:
    html:
    vhost:
